*{
  padding:0;
  margin:0;
  overflow: auto;
  font-family: 'Titillium Web', sans-serif;
}

header{
  width:100%;
  position: fixed;
  top:0;
  left:0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  z-index: 10000;
  overflow: hidden;
}
.head_full{
  width:100%;
  transition: 0.6s;
  background-color:#1a1a1a;
  padding:30px 0 30px 0;
  opacity:95%;
}

header .head_full .logo{
  position: relative;
  float: left;
  font-weight: 700;
  color:#eee;
  text-decoration: none;
  font-size:2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header .head_full ul{
  position: relative;
  float: right;
}

header .head_full ul li{
  position: relative;
  list-style: none;
  transition: 0.6s;
  float: left;
  font-weight: 400;
}

header .head_full ul li a{
  color:#fff;
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}
header .head_full .logo img{
  display: none!important;
  transition: 0.8s;
}
/*---------MENU----------*/
.sticky{
  position: fixed;
  top:0;
  left:0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  background-color:#fff;
  color:#000;
  z-index: 10000;
  opacity:0.8;
}
.sticky .head_full{
  width:80%;
  margin-left:10%;
  transition: 0.6s;
  padding:15px 0 15px 0;
}
.sticky .head_full,
.sticky .head_full{
  background-color:#fff;
  color:#000;
  font-family: 'Titillium Web', sans-serif;
}
.sticky .head_full ul li a{
  color:#000;
  font-weight: 700;
}
.sticky .head_full .logo img{
  display: block!important;
  margin-top:-12px;
  transition: 0.8s;
}
/*-------------------*/


/*--------Sections-----------*/
.container0{
  height:auto
}
.row0{
  height:80%;
  display: flex;
  background-color:#1a1a1a;
}
audio{
  display:flex;
}
.col0{
  display:flex;
  height:50%;
  background-color:#1a1a1a;
  position: relative;
  margin-top:auto;
  margin-bottom:auto;
  margin-left: auto;
  margin-right:auto;
  display: flex;
  overflow: hidden;
}
.logo{
  margin-bottom:auto;
  margin-top:auto;
  text-align: center;
}
.logo_color{
  font-family: 'Arrival', Times, serif;
  font-size:70px;
  position:relative;
  top:-80px;
  right:60px;
}
span{
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr{
  display:flex;
  height:10px;
  background-color: #a02106;
  border:none;
}
.salto{
  margin-top:30px;
}
.row1{
  text-align: center;
  color:#fff;
  background-color:#1a1a1a;
  overflow: hidden;
  margin-top:-100px;
}
.download{
  width:250px;
  height:80px;
  background-color:#d60000;
  color:#fff;
  border-radius:20px;
  font-size:170%;
  border:none;
  font-weight:700;
  cursor:pointer;
  transition: 0.2s;
}
.download:hover{
  width:300px;
  background-color:#f02020;
  transition: 0.2s;
}
.space200{
  display:flex;
  height:200px;
  background-color:#1a1a1a;
}
.space100{
  display:flex;
  height:100px;
}
.space50{
  display:flex;
  height:50px;
}
.column2-1{
  width:600px;
  float:left;
  text-align: center;
  margin-left:100px;
  background-color: #ababab;
}
.column2-1 ul{
  background-color:#1a1a1a;
}
.column2-1 ul li{
  float: left;
  border-radius: 10px;
}
.column2-1 ul li a{
  float: left;
  border-radius: 10px;
  text-decoration:none;
  color:#fff;
  padding:10px 20px 10px 20px;
}
.active{
  background-color: #ababab;
  padding:10px 20px 10px 20px;
  border-radius: 10px;
  text-decoration:none;
  color:#000;
}
#tab2{
  margin-left:10px;
}


/* ---------new content------*/

.tab-content {
	display: none;
}

.show {
	display: block;
  background-color:#1a1a1a;
}
.column2-1 img{
  display:flex;
}
.column2-2{
  width:40%;
  float: right;
  text-align: left;
  padding-right:1o0px;
  margin-top:50px;
}
.text1{
  font-size:170%;
}
.col4-1 span h2,
b,
h1{
  color: #e42800;
}
h2{
  color: #e8e8e8;
}
.color{
  color:#e42800;
}
.color_white{
  color:#fff;
}
.size200{
  font-size:200%;
}
.weight100{
  font-weight:100;
}
.wieght700{
  font-weight:700;
}

.section1{
  /*display:flex;*/
  background-color:#fff;
  height:auto;
}
.col6-1{
  width:38%;
  height:auto;
  padding:50px;
  position: relative;
  float:left;
  background-color:#fff;
  margin-left:100px;
}
.col4-1{
  width:40%;
  height:auto;
  position: relative;
  float: right;
  background-color:#fff;
  text-align: left;
  padding:50px 50px 50px 0px;
  margin-right:100px;
}
.col6-1 img{
  width:100%;
  display:flex;
  /*float:right;*/
}
.col4-1 span h2,
.col4-1 span{
  background-color:#fff;
  font-size:150%;
}
.col6-1 img,
.col4-1 b{
  background-color:#fff;
}
.col4-2{
  width:45%;
  height:auto;
  position: relative;
  float: left;
  background-color:#fff;
  text-align: right;
  padding:50px 50px 50px 150px;
  margin-left:-100px;
}
.col6-2{
  width:30%;
  height:auto;
  padding:50px 100px 50px 50px;
  position: relative;
  float:right;
  background-color:#fff;
  text-align: left;
  margin-right:130px;
}
.col4-2 span,
.col4-2 h2,
.col6-2 img{
  background-color:#fff;
  font-size:150%;
}

/*-------------------------------*/

.section2{
  background-color:#f8f9fa;
  text-align: center;
}
.section2 h1,
.section2_cont1,
.section2_cont2,
.section2 .space100,
.section2 button{
  background-color:#f8f9fa;
}
.section2 h1{
  padding-top:50px;
  font-size:250%;
}
.section2_cont1{
  width:50%;
  float:left;
  text-align: right;
  padding:0 0 100px 0;
}
.section2_cont2{
  width:40%;
  float:right;
  text-align: center;
  margin-right:130px;
  padding:0 0 100px 0;
}
.section2_cont2 button{
  background-color: #579381;
  color:#fff;
  border:none;
  font-size:200%;
  padding:10px 30px 10px 30px;
  cursor:pointer;
  box-shadow: 10px 10px 10px #ccc;
  margin-top:10px;
}

/*-------------------*/

footer{
  width:100%;
  height:auto;
  background-color:#1a1a1a;
  padding:20px 0 50px 0;
  color:#fff;
  text-align: center;
}

/*-----------------*/
form{
  width:400px;
  float:right;
  margin-right:100px;
  text-align: left;
}
.form-group{
  border-style: none;
}
.panel-body, .form-group, .form-group label, .form-group input, .form-group legend, .form-check, .text-center{
  background-color:#fff;
}
.card-header{
  font-size:150%;
  background-color:#f3f3f3;
  text-align:center;
}
.form-group input[type=URL]{
  width:80%;
  height:40px;
  font-size:80%;
  color:#717171;
  margin-left:10%;
  padding-left:10px;
  border-radius:10px;
  border-style:solid;
  border-color:#eee;
}
.panel-body{
  padding:10px;
}
#types .form-check{
  float:left;
  margin-left:50px;
  background-color:#fff;
}
#types{
  background-color:#fff;
}
.text-center #load{
    width:140px;
    height:35px;
    border-style:none;
    border-radius:10px;
    background-color:#d61212;
    color:#fff;
    font-size:120%;
}
.text-center{
  text-align: center;
}
.white_space{
  background-color:#f8f9fa;
}
