{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-console": 0,
    "no-undef" : 0,
    "no-case-declarations": 0,
    "no-empty": 0,
    "object-curly-spacing": 0,
    "import/no-dynamic-require": 0,
    "global-require": 0,
    "func-names": 0,
    "no-plusplus": 0,
    "no-param-reassign": 0,
    "no-restricted-properties": 0,
    "no-template-curly-in-string": 0,
    "arrow-parens": [2, "as-needed"],
    "comma-dangle": [2, {
      "functions": "ignore",
      "objects": "ignore",
      "arrays": "ignore"
    }],
    "prefer-destructuring": 0,
    "no-restricted-globals": 0,
    "indent": [2, 4, {"SwitchCase": 1}],
    "max-len": [2, 140, 4, {
      "ignoreUrls": true,
      "ignoreComments": true,
      "ignorePattern": "true"
    }],
    "no-underscore-dangle": 0
  }
}