{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "ignorePatterns": ["types/**/*.ts", "dist/**/*.js", "postcss.config.cjs"],
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },
  "rules": {
    "no-undef" : 0,
    "no-bitwise": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "no-plusplus": 0,
    "no-case-declarations": 0,
    "no-console": [2, { "allow": ["warn", "error"] }],
    "no-restricted-syntax": ["off", "ForOfStatement"],
    "class-methods-use-this": 0,
    "import/extensions": [
      2,
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ],
    "no-unused-vars": "off",
    "prettier/prettier": 2,
    "semi": 0,
    "newline-per-chained-call": 2,
    "@typescript-eslint/no-unused-vars": 2,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-extra-semi": 2,
    "@typescript-eslint/explicit-function-return-type": 2,
    "@typescript-eslint/no-non-null-assertion": 0
  }
}