{
    "*.{js,ts}": [
        "prettier --write",
        "eslint --fix",
        "npm run test:sources",
        "git add --all"
    ],
    "src/js/**/*.json": [
        "prettier --write",
        "git add --all"
    ],
    "*.css": [
        "stylelint --fix"
    ]
}