{
    "*.ts": ["prettier --write", "eslint packages --cache --ignore-pattern \"packages/**/dist/*\" --fix", "jest --passWithNoTests", "git add --all"],
    "*.css": ["stylelint --fix", "git add --all"]
}