{
    "src/js/**/*.{js,ts}": [
        "prettier --write",
        "eslint --fix",
        "npm test",
        "git add --all"
    ],
    "test/**/*.js": [
        "prettier --write",
        "eslint --fix",
        "npm test",
        "git add --all"
    ],
    "src/js/**/*.json": [
        "prettier --write",
        "git add --all"
    ]
}