{
    "printWidth": 120,
    "singleQuote": true,
    "tabWidth": 4,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "proseWrap": "preserve",
    "quoteProps": "preserve",
    "semi": true,
    "trailingComma": "es5",
    "useTabs": false
}