{
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "color-hex-length": "short",
    "declaration-block-no-duplicate-properties": [
      true,
      {
        "ignore": [
          "consecutive-duplicates-with-different-values"
        ]
      }
    ],
    "length-zero-no-unit": true,
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-alphabetical-order": true,
    "property-no-unknown": true,
    "shorthand-property-no-redundant-values": true
  }
}
