@font-face {
    font-family: 'open-player';
    font-style: normal;
    font-weight: normal;
    src: url('./font/open-player.eot?77449144');
    src: url('./font/open-player.eot?77449144#iefix') format('embedded-opentype'),
        url('./font/open-player.woff2?77449144') format('woff2'),
        url('./font/open-player.woff?77449144') format('woff'),
        url('./font/open-player.ttf?77449144') format('truetype'),
        url('./font/open-player.svg?77449144#open-player') format('svg');
}
/* === General =================== */
.om-player {
    background: #000;
    min-height: 32px;
    position: relative;
}
.om-player,
.om-player *,
.om-player ::after,
.om-player ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.om-player video,
.om-player audio {
    height: auto;
    width: 100% !important;
}
.om-player__audio {
    background: #000;
}
.om-player .media-controls.mac.fullscreen > .controls-bar {
    display: none;
}
.om-sr {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}
/* === Controls =================== */
.om-controls {
    background: rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    bottom: 0;
    color: #fff;
    display: flex;
    font-size: 0.85em;
    padding: 10px 8px 5px;
    position: absolute;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    width: 100%;
    z-index: 2;
}
.om-player.om-player__audio > .om-controls {
    bottom: 0;
    padding: 0 5px 5px;
}
.om-controls > * {
    flex-grow: 0;
    pointer-events: all;
}
.om-controls input[type='range'] {
    z-index: 2;
}
.om-controls input[type='range']::-webkit-slider-runnable-track {
    background: 0 0;
    border: 0;
    height: 8px;
    -webkit-user-select: none;
    user-select: none;
}
.om-controls > .om-controls__progress {
    flex-grow: 2;
}
.om-controls > button {
    background: transparent;
    border: none;
    cursor: pointer;
}
.om-control__right {
    margin-left: auto;
}
.om-control__right ~ .om-control__right {
    margin-left: 0;
}
.om-controls > button:before {
    color: #fff;
    display: inline-block;
    font-family: 'open-player';
    font-size: 1.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 15px;
    justify-content: flex-start;
    line-height: 1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    width: 15px;
}
.om-controls button:hover,
.subtitles-menu li button:hover,
.subtitles-menu li button[data-state='active'] {
    opacity: 0.5;
}

/* === Time =================== */
.om-controls > time {
    margin-top: 3px;
}
.om-controls__time-delimiter {
    margin: 3px 3px 0;
}

/* === Buttons =================== */
.om-controls__playpause:before {
    content: '\e810';
}
.om-controls__playpause--pause:before {
    content: '\e80d';
}
.om-controls__playpause--replay:before {
    content: '\e80c';
}
.om-controls__fullscreen:before {
    content: '\e811';
}
.om-controls__fullscreen--out:before {
    content: '\e812';
}
.om-controls__mute:before {
    content: '\e816';
}
.om-controls__mute--half:before {
    content: '\e814';
}
.om-controls__mute--muted:before {
    content: '\e815';
}
.om-controls__captions:before {
    content: '\e809';
}
.om-controls__settings:before { 
    content: '\e800'; 
}

/* === Progress =================== */
.om-controls__progress {
    display: inline-block;
    margin-left: 10px;
    position: relative;
}
.om-player__video .om-controls__progress {
    bottom: 40px;
    margin-left: -8px;
    position: absolute;
    width: 100%;
}
.om-controls__progress--seek {
    background: transparent;
}
.om-controls__progress--seek,
.om-controls__progress--buffer,
.om-controls__progress--played {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: none;
    transition: none;
    width: 100%;
}
.om-player__audio .om-controls__progress--seek,
.om-player__audio .om-controls__progress--buffer,
.om-player__audio .om-controls__progress--played {
    margin-top: 8px;
}
.om-controls__progress--seek::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    border: 2px solid transparent;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 12px;
    margin-top: -1px;
    position: relative;
    width: 12px;
}
.om-controls__progress--buffer {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.25);
}
.om-controls__progress--played {
    background: 0 0;
    color: #f00;
    -webkit-transition: none;
    transition: none;
    z-index: 1;
}
.om-controls__progress--buffer::-webkit-progress-bar,
.om-controls__progress--played::-webkit-progress-bar {
    background: 0 0;
}
.om-controls__progress--buffer::-webkit-progress-value,
.om-controls__progress--played::-webkit-progress-value {
    background: currentColor;
    min-width: 8px;
}
.om-controls__progress--buffer::-webkit-progress-value {
    -webkit-transition: width 0.2s ease;
    transition: width 0.2s ease;
}
.om-controls__progress--played::-webkit-progress-value {
    max-width: 99%;
    min-width: 8px;
    -webkit-transition: none;
    transition: none;
}
.om-ads--active .om-controls__progress--seek {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fecb2f), color-stop(100%, #fecb2f));
}
.om-ads--active .om-controls__progress--seek::-webkit-slider-thumb {
    display: none;
}
.om-ads--active .om-controls__progress--seek::-webkit-slider-runnable-track {
    cursor: default;
}

/* === Volume =================== */
.om-controls__volume {
    -webkit-appearance: none;
    background: transparent;
    width: 70px;
}
.om-controls__volume:focus {
    outline: none;
}

/* == Fullscreen ============= */
.om-player[data-fullscreen='true'] .om-controls {
    z-index: 2147483648;
}
.om-player video::-webkit-media-controls { 
    display: none !important;
}

/* == Captions =============== */
.om-captions__container {
    bottom: 0;
    color: #fff;
    display: none;
    font-weight: 400;
    left: 0;
    padding: 20px 0;
    position: absolute;
    text-align: center;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease,-webkit-transform 0.3s ease;
    width: 100%;
}
.om-captions__container > span {
    background: rgba(0, 0, 0, 0.7);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: 150%;
    padding: 3px 10px;
}
.om-controls__subtitles-menu {
    background:#666;
    bottom: 14.8%;
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    position: absolute;
    right: 20px;
    width: 100px;
}
.om-controls__subtitles-menu li {
    padding:0;
    text-align:center;
}
.om-controls__subtitles-menu li button {
    background:#000;
    border:none;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#fff;
    cursor:pointer;
    padding:2px 5px;
    width:90%;
}

/* WebVTT cues */
::cue { 
    color:#ccc;
}
video:-webkit-media-text-track-display {
    top: -15%;
}

/* === Ads =================== */
#om-ads {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.om-ads--active {
    overflow: hidden;
}
.om-player[data-fullscreen='true'] #om-ads {
    z-index: 2147483647;
}

/* === Focus =================== */
.om-player:focus,
.om-player > .om-controls > *:focus,
.om-player > .om-controls .om-controls__progress--seek:focus {
    outline: dotted 1px #999;
}
.om-player.om-player__keyboard--inactive:focus,
.om-player.om-player__keyboard--inactive > .om-controls > *:focus,
.om-player.om-player__keyboard--inactive > .om-controls .om-controls__progress--seek:focus {
    outline: none;
}
