.om-player {
    position: relative;
}
.om-player video,
.om-player audio {
    height: auto !important;
    width: 100% !important;
}
.om-controls {
    background: #fff;
    bottom: 20px;
    font-size: .85em;
    position: absolute;
    width: 100%;
}
.om-controls button {
    border: none;
    background: transparent;
    cursor: pointer;
}
.om-controls button:before {
    display: inline-block;
    font-size: 1.5em;
    line-height: 1.2;
    height: 15px;
    width: 15px;
}
.om-controls__time-delimiter {
    margin: 0 3px;
}
.om-controls__playpause:before {
    content: '\25B6';
}
.om-controls__playpause--pause:before {
    content: '\2759\A0\2759';
}
.om-controls__playpause--replay:before {
    content: '\27F3';
}
.om-controls__progress {
    margin: 0 10px;
}
.om-sr {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}
#om-ads {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.om-ads--active {
    overflow: hidden;
}
