@font-face {
    font-family: 'open-player';
    font-style: normal;
    font-weight: normal;
    src: url('./open-player.eot?77449144');
    src: url('./open-player.eot?77449144#iefix') format('embedded-opentype'),
        url('./open-player.woff2?77449144') format('woff2'),
        url('./open-player.woff?77449144') format('woff'),
        url('./open-player.ttf?77449144') format('truetype'),
        url('./open-player.svg?77449144#open-player') format('svg');
}
/* === General =================== */
.op-player {
    background: #000;
    font-family: sans-serif;
    line-height: 1.15;
    min-height: 30px;
    position: relative;
    text-size-adjust: 100%;
}
.op-player__video {
    overflow: hidden;
}
.op-player,
.op-player *,
.op-player ::after,
.op-player ::before {
    box-sizing: border-box;
}

.op-player__media {
    display: inline-block;
    height: auto;
    object-fit: contain;
    position: relative;
    width: 100% !important;
}
.op-player [aria-hidden='true'] {
    display: none;
}
.op-player__audio {
    background: #000;
}
.op-player .media-controls.mac.fullscreen > .controls-bar {
    display: none;
}
.op-sr {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}
.op-player__loader {
    animation: spin 1s infinite linear;
    border: 5px solid #fff;
    border-radius: 50%;
    border-top: 5px solid #f00;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}
/* === Controls =================== */
.op-controls {
    background: rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    bottom: 0;
    color: #fff;
    display: flex;
    font-size: 0.85em;
    padding: 2px 8px;
    pointer-events: all;
    position: absolute;
    transition: bottom 0.3s ease;
    width: 100%;
    z-index: 3;
}
.op-controls--hidden .op-controls {
    bottom: -36px;
    pointer-events: none;
}
.op-player__video .op-controls {
    margin-top: 5px;
    padding: 10px 8px 4px;
}
.op-controls > * {
    flex-grow: 0;
    pointer-events: all;
}
.op-player__play,
.op-settings__back,
.op-controls > button {
    appearance: button;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    position: relative;
    text-transform: none;
}
.op-controls > button {
    padding: 2px 6px 3px;
    z-index: 4;
}
.op-controls > button > span {
    color: #fff;
}
.op-player__loader {
    display: block;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    position: absolute;
    top: calc(50% - 20px);
    width: 60px;
    z-index: 2;
}
.op-player__play {
    background: transparent;
    border: 0;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 26px 0 26px 46px;
    cursor: pointer;
    display: block;
    height: 52px;
    left: 50%;
    margin-left: -18px;
    margin-top: -23px;
    padding: 0;
    position: absolute;
    top: calc(50% - 23px);
    transition: 100ms all ease;
    width: 0;
    will-change: border-width;
    z-index: 2;
}
.op-player__play > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.op-player__play--paused {
    border-style: double;
    border-width: 0 0 0 46px;
}
.op-player__play:hover {
    border-color: transparent transparent transparent #f00;
}
.op-controls--hidden .op-player__loader,
.op-controls--hidden .op-player__play {
    top: 50%;
}
.op-controls--hidden .op-player__play {
    margin-top: -26px;
}
.op-player__play::-moz-focus-inner,
.op-settings__back,
.op-controls > button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
.op-player__play:-moz-focusing,
.op-settings__back,
.op-controls > button:-moz-focusing {
    outline: 1px dotted ButtonText;
}
.op-controls > button:before {
    color: #fff;
    display: inline-block;
    font-family: 'open-player';
    font-size: 1.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 15px;
    justify-content: flex-start;
    line-height: 1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    width: 15px;
}
.op-controls > .op-control__right {
    margin-left: auto;
}
.op-controls > .op-control__right ~ .op-control__right {
    margin-left: 0;
}
.op-controls > button:hover {
    opacity: 0.5;
}
.op-controls > .op-control--no-hover:hover {
    opacity: 1;
}
.op-controls input[type='range'],
.op-controls > button {
    touch-action: manipulation;
}

/* === Time =================== */
.op-controls > .op-controls-time {
    margin: 4px 3px 0;
}

/* === Buttons =================== */
.op-controls__playpause:before {
    content: '\e810';
}
.op-controls__playpause--pause:before {
    content: '\e80d';
}
.op-controls__playpause--replay:before {
    content: '\e80c';
}
.op-controls__fullscreen:before {
    content: '\e811';
}
.op-controls__fullscreen--out:before {
    content: '\e812';
}
.op-controls__mute:before {
    content: '\e816';
}
.op-controls__mute--half:before {
    content: '\e814';
}
.op-controls__mute--muted:before {
    content: '\e815';
}
.op-controls__captions:before {
    content: '\e809';
}
.op-controls__settings:before {
    content: '\e800';
}

/* === Settings =================== */
.op-settings {
    background: rgba(28, 28, 28, 0.9);
    bottom: 48px;
    color: #fff;
    font-size: 0.85em;
    overflow: hidden;
    position: absolute;
    right: 5px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: right 0.2s ease;
    user-select: none;
    will-change: width,height;
    z-index: 4;
}
.op-player__audio .op-settings {
    bottom: 32px;
    right: 0;
}
.op-settings--sliding {
    right: -999px;
}
.op-settings__menu {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}
.op-settings__menu-item,
.op-settings__submenu-item {
    display: table-row;
    outline: none;
    padding: 0;
}
.op-settings__menu-label,
.op-settings__submenu-label {
    display: table-cell;
    padding: 5px 15px;
    vertical-align: middle;
}
.op-settings__submenu-item,
.op-settings__submenu-label {
    display: block;
}
.op-settings__submenu-item {
    cursor: pointer;
}
.op-settings__submenu-item[aria-checked='true'] .op-settings__submenu-label {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAwJSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIxMDAlIj48cGF0aCBkPSJNOSAxNi4yTDQuOCAxMmwtMS40IDEuNEw5IDE5IDIxIDdsLTEuNC0xLjRMOSAxNi4yeiIgZmlsbD0iI2ZmZiIgLz48L3N2Zz4=');
    background-position: left 4px center;
    background-repeat: no-repeat;
    background-size: 18px;
    padding: 8px 15px 8px 25px;
}
.op-settings__menu-content {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAwJSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIxMDAlIj48cGF0aCBkPSJtIDEyLjU5LDIwLjM0IDQuNTgsLTQuNTkgLTQuNTgsLTQuNTkgMS40MSwtMS40MSA2LDYgLTYsNiB6IiBmaWxsPSIjZmZmIiAvPjwvc3ZnPg==');
    background-position: right 0 center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    cursor: pointer;
    display: table-cell;
    padding: 0 15px;
    padding-right: 38px;
    vertical-align: middle;
}
.op-settings__header {
    padding: 5px;
}
.op-settings__back {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAwJSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIxMDAlIj48cGF0aCBkPSJNIDE5LjQxLDIwLjA5IDE0LjgzLDE1LjUgMTkuNDEsMTAuOTEgMTgsOS41IGwgLTYsNiA2LDYgeiIgZmlsbD0iI2ZmZiIgLz48L3N2Zz4=');
    background-position: left 0 center;
    background-repeat: no-repeat;
    background-size: 20px 32px;
    color: inherit;
    height: 100%;
    padding: 0 10px 0 20px;
}

/* === Progress / Volume =================== */
.op-controls input[type='range'],
.op-controls progress {
    appearance: none;
    border: 0;
    height: 5px;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    transition: none;
    width: 100%;
}
.op-controls input[type='range'] {
    background: transparent;
    height: 0;
    padding: 2.5px 0;
    -webkit-tap-highlight-color: transparent;
    z-index: 3;
}
.op-controls input[type='range']:focus,
.op-controls progress {
    outline: none;
}
.op-controls input[type='range']::-moz-focus-outer {
    border: 0;
}
.op-controls input[type='range']::-webkit-slider-runnable-track {
    background: 0 0;
    border: 0;
    cursor: pointer;
    height: 8px;
    user-select: none;
}
.op-controls input[type='range']::-moz-range-track {
    background: 0 0;
    border: 0;
    cursor: pointer;
    height: 8px;
    user-select: none;
}
.op-controls input[type='range']::-ms-track {
    background: 0 0;
    border: 0;
    cursor: pointer;
    height: 8px;
    user-select: none;
}
.op-controls input[type='range']::-webkit-slider-thumb {
    appearance: none;
    background: #fff;
    border: 2px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 12px;
    margin-top: -2px;
    position: relative;
    width: 12px;
}
.op-controls input[type='range']::-moz-range-thumb {
    appearance: none;
    background: #fff;
    border: 2px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 12px;
    margin-top: -2px;
    position: relative;
    width: 12px;
}
.op-controls input[type='range']::-ms-thumb {
    appearance: none;
    background: #fff;
    border: 2px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 12px;
    margin-top: -2px;
    position: relative;
    width: 12px;
}
.op-controls input[type='range']::-ms-tooltip {
    display: none;
}
.op-controls input[type='range']::-ms-fill-lower,
.op-controls input[type='range']::-ms-fill-upper {
    background: transparent;
}
.op-controls input[type='range']::-ms-ticks-before,
.op-controls input[type='range']::-ms-ticks-after {
    display: none !important;
}
.op-controls--hidden .op-controls .op-controls__progress--seek::-webkit-slider-thumb {
    background: transparent;
}
.op-controls--hidden .op-controls .op-controls__progress--seek::-moz-range-thumb {
    background: transparent;
}
.op-controls--hidden .op-controls .op-controls__progress--seek::-ms-thumb {
    background: transparent;
}
.op-controls progress {
    display: inline-block;
    vertical-align: baseline;
}
.op-controls progress::-webkit-progress-bar {
    background: 0 0;
}
.op-controls progress::-moz-progress-bar {
    background: 0 0;
}
.op-controls > .op-controls__progress {
    flex-grow: 2;
}
.op-controls > .op-controls__progress,
.op-controls > .op-controls__progress:hover,
.op-controls > .op-controls__volume,
.op-controls > .op-controls__volume:hover {
    cursor: pointer;
}
.op-controls__progress,
.op-controls__volume {
    display: inline-block;
    height: 5px;
    margin-left: 10px;
    margin-top: 9px;
    pointer-events: all;
    position: relative;
}
.op-player__video .op-controls__progress {
    bottom: 34px;
    left: 8px;
    margin-left: -8px;
    position: absolute;
    width: 100%;
}
.op-controls progress::-webkit-progress-value {
    background: currentColor;
}
.op-controls progress::-moz-progress-bar {
    background: currentColor;
}
.op-controls__progress--buffer::-webkit-progress-value {
    transition: width 0.2s ease;
}
.op-controls__progress--played::-webkit-progress-value,
.op-controls__volume--display::-webkit-progress-value {
    max-width: 99%;
    transition: none;
}
.op-player__video .op-controls__progress--played::-webkit-progress-value {
    max-width: 100%;
}
.op-controls__progress--buffer::-moz-progress-bar {
    transition: width 0.2s ease;
}
.op-controls__progress--played::-moz-progress-bar,
.op-controls__volume--display::-moz-progress-bar {
    max-width: 99%;
    transition: none;
}
.op-controls .op-controls__progress--played,
.op-controls .op-controls__volume--display {
    background: 0 0;
    color: #f00;
    transition: none;
    z-index: 2;
}
.op-controls .op-controls__volume--display {
    background: rgba(255, 255, 255, 0.35);
}
.op-controls .op-controls__progress--buffer {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.25);
}
.op-ads--active .op-controls .op-controls__progress--seek {
    pointer-events: none;
}
.op-ads--active .op-controls .op-controls__progress--played {
    color:#fecb2f;
}
.op-ads--active .op-controls .op-controls__progress--buffer {
    color: transparent;
}
.op-ads--active .op-controls .op-controls__progress--seek::-webkit-slider-thumb {
    display: none;
}
.op-ads--active .op-controls .op-controls__progress--seek::-moz-range-thumb {
    display: none;
}
.op-ads--active .op-controls .op-controls__progress--seek::-ms-thumb {
    display: none;
}
.op-ads--active .op-controls .op-controls__progress--seek::-webkit-slider-runnable-track {
    cursor: default;
}
.op-ads--active .op-controls .op-controls__progress--seek::-moz-range-track {
    cursor: default;
}
.op-ads--active .op-controls .op-controls__progress--seek::-ms-track {
    cursor: default;
}

/* === Tooltip ================== */
.op-controls__tooltip {
    background: #eee;
    border: 1px solid #000;
    bottom: 100%;
    color: #000;
    display: none;
    left: 0;
    margin-bottom: 10px;
    padding: 1px 4px;
    position: absolute;
    text-align: center;
    transform: translateX(0%);
}
.op-player__video .op-controls__tooltip {
    margin-bottom: 10px;
}
.op-controls__tooltip:before,
.op-controls__tooltip:after {
    content:'';
    height: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 100%;
    width: 0;
}
.op-controls__tooltip:before {
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
    border-top: solid 8px #000;
}
.op-controls__tooltip:after {
    border-left: solid 7px transparent;
    border-right: solid 7px transparent;
    border-top: solid 7px #eee;
}
.op-controls__tooltip--visible {
    display: block;
}

/* === Volume =================== */
.op-controls__volume {
    margin-left: 0;
    width: 70px;
}
.op-controls > .op-controls__mute:before {
    text-align: left;
}
.op-player__video .op-controls__volume {
    margin-top: 10px;
}
.op-player__unmute {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    cursor: pointer;
    left: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    z-index: 3;
}

/* == Fullscreen ============= */
.op-player[data-fullscreen='true'] .op-controls {
    z-index: 2147483648;
}
.op-player[data-fullscreen='true'].op-controls--hidden {
    cursor: none;
}
.op-player[data-fullscreen='true'].op-controls--hidden .op-controls {
    bottom: -40px;
}
.op-player video::-webkit-media-controls,
.op-player video::-webkit-media-text-track-container {
    display: none !important;
}

/* == Captions =============== */
.op-captions {
    bottom: 0;
    color: #fff;
    display: none;
    font-weight: 400;
    left: 0;
    padding: 20px 0;
    position: absolute;
    text-align: center;
    transform: translateY(-40px);
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease,-webkit-transform 0.3s ease;
    width: 100%;
    z-index: 1;
}
.op-controls--hidden .op-captions {
    bottom: -32px;
}
.op-captions--on {
    display: block;
}
.op-captions > span {
    background: rgba(0, 0, 0, 0.7);
    box-decoration-break: clone;
    line-height: 150%;
    padding: 3px 10px;
}
.op-player__audio.op-captions--detected {
    background: transparent;
    min-height: 95px;
}
.op-player__audio.op-captions--detected .op-captions {
    bottom: -10px;
    padding: 0;
}
.op-player__audio.op-captions--detected .op-captions > span {
    background: transparent;
    color: #000;
}
.op-player__audio.op-captions--detected .op-controls {
    background: #000;
    bottom: auto;
}
.op-player__audio.op-captions--detected .op-settings {
    bottom: auto;
    top: 35px;
}
.op-controls .op-controls__captions--on:before {
    color: red;
}
.op-captions__menu {
    bottom: 36px;
    overflow: visible;
    right: 59px;
    z-index: 10;
}
.op-captions__menu:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(28, 28, 28, 0.9);
    content:'';
    height: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 100%;
    width: 0;
}

/* WebVTT cues */
::cue {
    color:#ccc;
}
video:-webkit-media-text-track-display {
    top: -15%;
}

/* === Levels ================ */
.op-levels__menu {
    bottom: 36px;
    min-width: 73px;
    overflow: visible;
    right: 98px;
    z-index: 10;
}
.op-levels__menu:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(28, 28, 28, 0.9);
    content:'';
    height: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 100%;
    width: 0;
}

/* === Ads =================== */
#op-ads {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.op-ads--active {
    overflow: hidden;
}
.op-ads--active .op-controls__captions,
.op-ads--active .op-captions,
.op-ads--active .op-controls__settings {
    display: none;
}
.op-ads--active .op-controls__fullscreen {
    float: right;
}
.op-ads--active .op-controls > .op-control__right ~ .op-control__right {
    margin-left: auto;
}
.op-ads--active #op-ads {
    z-index: 1;
}
.op-player[data-fullscreen='true'].op-ads--active #op-ads {
    z-index: 2147483645;
}

/* === Focus =================== */
.op-player:focus,
.op-player__play:focus,
.op-player > .op-controls > *:focus {
    outline: dotted 1px #999;
}
.op-player.op-player__keyboard--inactive:focus,
.op-player.op-player__keyboard--inactive .op-player__play:focus,
.op-player.op-player__keyboard--inactive > .op-controls > *:focus {
    outline: none;
}

/* === Fullscreen effect ========= */
.op-player.op-player__full {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -100;
}
.op-player__full .op-player__media,
.op-player__full #op-ads {
    height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto !important;
}

/* === Device-specific rules ========= */
.op-player__ios--iphone .op-player__play {
    margin-top: -5px;
}
.op-player.op-player__ios--iphone video::-webkit-media-controls,
.op-player.op-player__ios--iphone video::-webkit-media-text-track-container {
    display: block !important;
}
.op-player.op-player__ios--iphone video::cue {
    color: transparent;
    font-size: 0.001px;
}
.op-player.op-player__ios--iphone video::-webkit-media-text-track-display-backdrop {
    background: transparent !important;
}
.op-player[data-fullscreen='true'].op-player__ios--iphone video::cue {
    color: #fff;
    font-size: initial;
}
.op-player[data-fullscreen='true'].op-player.op-player__ios--iphone video::-webkit-media-text-track-display-backdrop {
    background: rgba(0, 0, 0, 0.498039) !important;
}
