on: ['push', 'pull_request']

name: Test Coveralls

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1

            - name: Use Node.js 24.x
              uses: actions/setup-node@v6
              with:
                  node-version: 24

            - name: npm install, make test-coverage
              run: |
                  npm ci --cache .npm --prefer-offline
                  npm test
            - name: Coveralls
              uses: coverallsapp/github-action@v2.3.0
              with:
                  allow-empty: true
